selenium>=4.25
google-colab-selenium[undetected]
chromedriver-autoinstaller
webdriver-manager
duckduckgo-search
langchain>=0.3.4
langchain-community
langchain-google-genai
langchain-openai
langchain-huggingface
arxiv
xmltodict
youtube-transcript-api
pytube
bitsandbytes
pyautogen>=0.2.29
pytrends
hfautogen
tensorflow-metadata>=1.13.1
llama-index
llama-index-core
llama-index-legacy
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-agent-openai
llama-index-readers-file
llama-index-multi-modal-llms-openai
tokenizers
crewai[tools]
crewai-tools
